#menu{
	padding:0;
	list-style-type:none;
	width:960px;
	background: white;
	border-bottom:5px solid white;
	margin:0 auto;
}
#menu li{
	float:right;
}

#menu li a{
	color:black;
	
	padding:10px 20px;
	display:block;
}