body{
    font-family: 'Open Sans', sans-serif;
    margin: 2px;
    font-style: normal;
}
.menu-1{
	height: 90px;
}
#menu{
	list-style-type:none;
	width:900px;
	margin:10px auto;
}
#menu li{
	float:right;
}
#menu li a{
	color:black;
	text-decoration:none;
	padding:5px 10px;
}

h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}

.name-highlight{
    color: #FF8367;
}
.top-banner{
	
}
.half-width{
    width: 35%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
section{
    height: 450px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
#head-center{
    text-align: center;
    margin: 80px;
    padding: 50px;
}
.experience-area{
    background-color: #E5E5E5;
    background-position: left;
    width: 1440px;
    height: 814px;
}
.center {
    display: block;
    margin-left:-15px;
    margin-top: 15px;
    width: 50%;
  }
.orange-highlight{
    color: orange;
}
.single-experience{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
	height: 45%;
	width: 23%;
}
#first-project{
    background-color: white;
}
#next-project{
	background-color: white;
}

.education{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#bachelor{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightSalmon, tomato);
    border-image-slice: 1;
    background-color: white;
    height: 55%;
	width: 25%;
}
#others{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
    height: 55%;
	width: 25%;
}
.blue-highlight{
    color:rgba(0, 0, 139, 0.705);
}
.lowest-banner{
  

}
.low-mid{
    mar
}
.chat-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    padding: 10px 20px;
    margin-right: 100px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    float: right;
}

footer h2{
    text-align: center;
    font-size: 25px;
}
footer h3{
    text-align: center;
    font-size: 15px;
}
.chat{
    margin-left: 560px;
}
.chat-experience{
	height: 90px;
    width: 80px;
    display: block;
    float:left;
}